.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left :10%;
  transform: translate(-40%,-40%); 
}
.carousel-caption h5 {
  font-size: 30px;

}
.carousel-caption p {
  font-size: 20px;
}

